/*
* Custom CSS
*/

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.resume {
	margin: 0 auto;
	max-width: 480px;
	padding: 0 20px;
}

.container p {
  font-size: 14px;
}

.username,
.resume_position {
  text-align: center;
  margin-bottom: 0;
}

.summary {
  padding: 4px 8px;
}

.basics,
.education,
.work,
.skills,
.languages {
	margin: 10px 0;
}

.basics {
  background: #3c3c3c;
  color: white;
  padding: 4px 2px;
}

.basics .username {
	margin-top: 1.5em;
}

.basics .contact strong,
.location strong {
	clear: both;
	line-height: 1.3;
	width: 120px;
}

.skills {
	overflow: hidden;
}

.skills .item {
	float: left;
	width: 50%;
}

.skills ul li {
  display: block;
  float: left;
  margin: 2px 0;
}

.skills > ul > li > span {
  background-color: #f5f5f5;
  border: 1px solid #e2e0e0;
  padding: 2px;
  margin-right: 6px;
}

.work .companyName span {
  font-size: 18px;
}

.work .position > span {
  font-weight: bold;
}

.work .companyName span + span,
.work .position span.date {
  right: 0;
  font-weight: normal;
  font-size: 14px;
}

.work .position .date,
.education .studyType .date {
  font-style: italic;
  float: right;
}

section h4 i {
  margin-right: 10px;
}

.interests .item .keywords li span {
  float:left;
  margin-right: 4px;
  font-style: italic;
}

blockquote.reference {
  border-left: 5px solid #e2e0e0;
  font-size: 14px;
  padding: 2px 12px;
  margin: 6px 4px;
}

blockquote.reference p:first-child {
  font-style: italic;
}
