{{#resume.basics}}
	<h3 class="username">{{name}}</h3>
	<h4 class="resume_position">{{label}}</h4>
	<div class="row summary">
		<div class="column">
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
	</div>
{{/resume.basics}}
