{{#resume.basics}}
  <section class="contacts">
    <h4 class="sectionTitle"><i class="fas fa-address-book"></i>Coordonnées: </h4>
    {{#if email}}
    <div class="email">
      <i class="fas fa-envelope"></i>
      {{email}}
    </div>
    {{/if}}

    {{#if phone}}
    <div class="phone">
      <i class="fas fa-phone-square"></i>
      {{phone}}
    </div>
    {{/if}}

    {{#if website}}
    <div class="website">
      <i class="fas fa-globe-africa"></i>
      {{website}}
    </div>
    {{/if}}

    {{#location}}
      {{#if city}}
      <div class="city">
        <i class="fas fa-map-marker-alt"></i>
        {{#if postalCode}}
          {{postalCode}}
        {{/if}}
        {{city}},
        {{#if countryCode}}
          {{countryCode}}
        {{/if}}
      </div>
      {{/if}}
    {{/location}}

    {{#if profiles.length}}
			{{#each profiles}}
  			<div class="item">
  				{{#if network}}
  				<strong class="network">
  					{{network}}: 
  				</strong>
  				{{/if}}
  				{{#if url}}
				     <a href="{{url}}">{{username}}</a>
  				{{/if}}
  			</div>
			{{/each}}
		{{/if}}
  </section>
{{/resume.basics}}
