{{#if resume.education.length}}
<section class="education">
	<h4 class="sectionTitle"><i class="fas fa-graduation-cap"></i>Formation: </h4>
	{{#each resume.education}}
	<div class="item">
		{{#if studyType}}
		<div class="studyType">
			<strong>{{studyType}}</strong>
			<span class="date">
				{{#if startDate}}
				<span class="startDate">
					{{startDate}}
				</span>
				{{/if}}
				{{#if endDate}}
				<span class="endDate">
					- {{endDate}}
				</span>
				{{else}}
				<span class="endDate">
					- Actuel
				</span>
				{{/if}}
			</span>
		</div>
		{{/if}}
		{{#if institution}}
		<div class="institution">
			{{institution}}
		</div>
		{{/if}}
		{{#if area}}
		<div class="area">
			{{area}}
		</div>
		{{/if}}
		{{#if gpa}}
		<div class="gpa">
			GPA: {{gpa}}
		</div>
		{{/if}}
		{{#if courses.length}}
		<ul class="courses">
			{{#each courses}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
