{{#if resume.interests.length}}
<section class="interests">
	<h4 class="sectionTitle"><i class="fas fa-heart"></i>Centres d'intérêts</h4>
	{{#each resume.interests}}
	<div class="item">
		{{#if name}}
		<div class="name">
			<strong>{{name}}</strong>
		</div>
		{{/if}}
		{{#if keywords.length}}
		<ul class="keywords">
			{{#each keywords}}
			<li><span>{{.}}</span></li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
