{{#if resume.languages.length}}
<section class="languages">
	<h4 class="sectionTitle"><i class="fas fa-globe"></i>Langages: </h4>
	{{#each resume.languages}}
	<div class="item">
		{{#if language}}
		<div class="language">
			{{language}}
		</div>
		{{/if}}
		{{#if fluency}}
		<div class="fluency">
			<em>{{fluency}}</em>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
