{{#if resume.publications.length}}
<section id="publications">
	<h4 class="sectionTitle">Publications</h4>
	{{#each resume.publications}}
	<div class="item">
		{{#if name}}
		<div class="name">
			{{name}}
		</div>
		{{/if}}
		{{#if publisher}}
		<div class="publisher">
			{{publisher}}
		</div>
		{{/if}}
		{{#if releaseDate}}
		<div class="releaseDate">
			{{releaseDate}}
		</div>
		{{/if}}
		{{#if website}}
		<div class="website">
			<a href="{{website}}">Link</a>
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
