{{#if resume.references.length}}
<section class="references">
	<h4 class="sectionTitle"><i class="fas fa-comment"></i>References</h4>
	{{#each resume.references}}
	<div class="item">
		{{#if reference}}
		<blockquote class="reference">
			<p>{{reference}}</p>
			{{#if name}}
			<p class="name">
				— {{name}}
			</p>
			{{/if}}
		</blockquote>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
