{{#if resume.skills.length}}
<section class="skills">
	<h4 class="sectionTitle"><i class="fas fa-cogs"></i>Compétences: </h4>
	<ul>
	{{#each resume.skills}}
		{{#if name}}
			<li>
				<span>{{name}}</span>
			</li>
		{{/if}}
	{{/each}}
	</ul>
</section>
{{/if}}
