{{#if resume.volunteer.length}}
<section class="volunteer">
	<h4 class="sectionTitle">Volunteer</h4>
	{{#each resume.volunteer}}
	<div class="item">
		{{#if organization}}
		<h3 class="company">
			{{organization}}
		</h3>
		{{/if}}
		<div class="date">
			{{#if startDate}}
			<span class="startDate">
				{{startDate}}
			</span>
			{{/if}}
			{{#if endDate}}
			<span class="endDate">
				- {{endDate}}
			</span>
			{{else}}
			<span class="endDate">
				- Present
			</span>
			{{/if}}
		</div>
		{{#if position}}
		<div class="position">
			{{position}}
		</div>
		{{/if}}
		{{#if website}}
		<div class="website">
			<a href="{{website}}">{{website}}</a>
		</div>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
		{{#if highlights.length}}
		<ul class="highlights">
			{{#each highlights}}
			<li>{{.}}</li>
			{{/each}}
		</ul>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
