{{#if resume.work.length}}
<section class="work">
	<h4 class="sectionTitle"><i class="fas fa-briefcase"></i>Expériences professionnelles: </h4>
	{{#each resume.work}}
	<div class="item">
		{{#if company}}
		<h5 class="companyName">
			<span>{{company}}</span>
			{{#if website}}
			<span>
				<a href="{{website}}">{{website}}</a>
			</span>
			{{/if}}
		</h5>
		{{/if}}
		{{#if position}}
		<h6 class="position">
			<span class="positionTitle">
				{{position}}
			</span>
			<span class="date">
				{{#if startDate}}
				<span class="startDate">
					{{startDate}}
				</span>
				{{/if}}
				{{#if endDate}}
				<span class="endDate">
					- {{endDate}}
				</span>
				{{else}}
				<span class="endDate">
					- Present
				</span>
				{{/if}}
			</span>
		</h6>
		{{/if}}
		{{#if summary}}
		<div class="workSummary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
