<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style>
	{{{css}}}
	</style>

	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="two-thirds column">
					{{> basics }}
				</div>
				<div class="one-third column">
					{{> contacts }}
				</div>
			</div>
			<div class="row">
				<div class="two-thirds column">
					{{> education }}
					{{> work }}
				</div>
				<div class="one-third column">
					{{> skills }}
					{{> languages }}
					{{> interests }}
					{{> references }}
					{{> volunteer }}
				</div>
			</div>
		</div>
	</body>
</html>
